.homepage {
  background-image: url('/sunset.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.serviceList {
  list-style: none;
}

.serviceItem {
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}

.serviceItem:hover::after {
  content: attr(data-description);
  position: absolute;
  left: 0;
  top: 100%;
  background: var(--accent);
  color: var(--highlight);
  padding: 1rem;
  border-radius: 4px;
  width: 300px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1024px) {
  .homepage {
    background-image: url('/phone_home_sunset.png')
  }
}
